.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar-item {
  padding: .55em  0em;
  display: block;
  width: 70%;
  
}
.sidebar-title{
  display: flex;
  justify-content: space-between;
 
  align-items: center;
  
}
.down{

  cursor: pointer;
  transition: transform .3s;
 

}
 .sidebar-item.open  .down{
  transition: transform .3s;
    transform: rotate(180deg)
 }
.sidebar-content{
  padding: .25em;
  height: 0;
  overflow: hidden;
  display: block;
}
.sidebar-item.open  .sidebar-content{
  height: auto;
}
.popup{
  position: absolute;
  width: 25%;
  height: 45%;
  background-color: white;
  top: 5%;
  left: 25%;
  border-radius: 10px;
  overflow: hidden;
}
.back{
  position: absolute;
  height: 0%;
  width: 200%;
  background-color: #08080833;
  top: -20%;
  left: -40%;
  overflow: hidden;
}
.back.open{
  transition: transform .3s;
  height: 200%;
}
.texts{
    border: none;
  height: 67%;
   
    width: 0;
    width: 40%;
    background-color: rgb(12, 34, 67);
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
  
    
}
.texts.open{
  
  transition: tranform linear;
}
.Main{

  width: 75%;
  height: 82%;
  overflow: none;
  position: absolute;
  top: 15%;
  left: 24%;


}
